body {
    color: rgb(238, 200, 200);
    background: rgb(87, 1, 1);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
    background: rgb(131, 2, 24);
    padding-bottom: 80px;
    padding-top: 80px;
    display:inline-table;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}